#preview {
    width: 100%;
    text-align: left;
    padding: 1em;
    border: black 1px solid;
}

#preview-area h2 {
    color: #6d6d6d;
    font-weight: 300;
}

#preview h2 {
    color: #000000;
    font-weight: 700;
}

@media only screen and (min-width: 600px) {

    #preview-area {
        width: 50%;
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}