#cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cards-row {
    width: 80%;
    text-align: left;
}

.cards-row:first-child {
    margin-top: 3em;
}

.cards-row:last-child {
    margin-bottom: 3em;
}

/* -- DESKTOP -- */

@media only screen and (min-width: 600px) {
    
    .cards-row {
        display: flex;
        justify-content: space-between;
    }

    .cards-row:first-child {
        margin-bottom: 1.5em;
    }
    
    
}