img {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#quote-text-container h2 {
    color: #6d6d6d;
    font-weight: 300;
}

@media only screen and (min-width: 600px) {

    #img-container {
        width: 50%;
    }

    #quote-text-container {
        width: 50%;
        padding-left: 2em;
        display: flex;
        align-items: center;
    }

    section {
        flex-direction: row;
    }

}