footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #20232a;
    color: #ffffff;
    width: 100vw;
}

footer a {
    color: #61dafb;
    text-decoration: none;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.separator {
    display: none;
}

@media only screen and (min-width: 600px) {
    
    header ul {
        display: flex;
        list-style: none;
    }

    footer li {
        display: inline;
    }

    .separator {
        display: inline;
        visibility: hidden;
    }

}