#clock-app {
  margin-top: 2em;
  margin-bottom: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clock-container {
  width: 80%;
  background-color: #282c34;
  color: #ffffff;
}

@media only screen and (min-width: 600px) {
  #clock-container {
    width: 30%;
  } 
}
