/* -- MOBILE -- */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-family: 'Open Sans';
}

#root {
    width: 100%;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url(./fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: local('Open Sans'), url(./fonts/OpenSans-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: local('Open Sans'), url(./fonts/OpenSans-SemiBold.ttf) format('truetype');
}